@font-face {
  font-family: 'Whyte';
  src: local('Whyte Regular'), local('Whyte Regular'),
      url('./Whyte/Whyte-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Bold'), local('Whyte Bold'),
      url('./Whyte/Whyte-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Whyte';
  src: local('Whyte Black'), local('Whyte Black'),
      url('./Whyte/Whyte-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}